{
    "sourceMaps": true,
    "presets": [
        ["@babel/preset-env", {
            "targets": [
                "last 2 Chrome versions", "last 2 Firefox versions", "last 2 Safari versions"
            ]
        }],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}
