name: Build and test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          cache: 'yarn'

      - name: Install NPM packages
        run: yarn install --frozen-lockfile

      - name: Check Linting Rules and Types
        run: yarn lint

      - name: test
        run: yarn test

      - name: build
        run: yarn build
